body {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: #000000; /* Чисто черный фон */
    color: #8e8e8e;
    font-size: 1.5rem;
    padding: 8%; /* Отступы */
  }

  h1 {
    text-align: center; /* Выравнивание текста по центру */
    color: white; /* Белый цвет текста */
    text-transform: uppercase; /* Преобразование текста в верхний регистр */
    font-size: 3rem; /* Размер шрифта (можно изменить по желанию) */
    font-weight: bold; /* Жирный шрифт */
    margin: 0; /* Убираем внешние отступы */
    padding: 50px 0; /* Внутренние отступы сверху и снизу */
    ; /* Фон заголовка (опционально) */
    width: 100%; /* Ширина заголовка на всю доступную ширину */
  }
  h2{
    color: #f4f4f4;
    font-size: 2.3rem;
    text-align: center
  }
  h3{
    color: #f4f4f4;
    font-size: 1.8rem;
    text-align: left
}
.nav-box {
    border-radius: 5px;
    width: 50%;
    margin: 0px auto;
    padding: 20px 60px;
  }
  
  nav ol {
    margin: 0 0 9px 0;
    padding: 0;
    list-style-type: none; /* Убираем маркеры списка */
  }
  
  .nav-box li {
    list-style: none; /* Убираем маркеры у элементов списка */
  }
  
  .nav-list-item:hover {
    border-left: 8.5px solid #ee8906; /* Левая граница при наведении */
    background: #141414; /* Фон при наведении */
  }
  
  .nav-list-item:active {
    border-left: 6px solid #d35807; /* Левая граница при активном состоянии */
  }
  a{
    color: #d35807;
  }
  
  .main {
    width: 70%;
    margin: 0px auto;
    padding: 5px 30px;
    background: #000000; /* Чисто черный фон */
  }
  .main-img {
    display: block;
    height: 400px;
    margin: 30px auto;
  }
  div.img-box {
    float: right;
    clear: right;
    margin: 0px 5px 10px 20px;
    border-radius: 5px;
    background-color: #222222;
    color: #fff;
    font-weight: 40;
    padding: 0.2em;
    box-shadow: 5px 5px 10px rgba(12, 12, 12, 0.5);
    width: 500px; /* Фиксированная ширина контейнера */
}

div.img-box img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
}

div.img-box figcaption {
    max-width: 100%;
    margin: 0 auto;
    padding: 10px 5px;
    word-wrap: break-word;
    text-align: center;
    font-size: 14px;
    font-family: Roboto, Poppins, Arial, Helvetica, sans-serif;
    letter-spacing: 1.5px;
    font-weight: 100;
    font-style: italic;
}

@media (max-width: 768px) {
    div.img-box {
        float: none;
        margin: 10px auto;
        width: 100%;
    }
}
